@use 'sass:math';
@import '../../globals/variables';

$indicator-size: 14px;
$indicator-half-size: math.div($indicator-size, 2);

:root {
  --indicator-size: #{$indicator-size};
  --indicator-half-size: #{$indicator-half-size};
}

.audio-player {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  transition: bottom 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-sizing: border-box;
  background-color: $color-black;

  &--mobile {
    display: flex;
    justify-content: space-between;
    padding-bottom: $safe-area-inset-bottom;

    .audio-player__title {
      padding-left: 20px;
    }

    .icon-button.play-pause {
      background-color: $color-black;
      padding: 0 20px;
      z-index: 10;
    }

    .rhap_container {
      background-color: transparent;
    pointer-events: none;

    }

    .rhap_progress-bar {
      border-radius: 0;
      height: 2px;
    }

    .rhap_controls-section,
    .rhap_current-time,
    .rhap_time {
      display: none;
    }
  }

  &__title {
    width: 100%;
  }
}

.smooth-progress-bar--mobile {
  position: absolute;
  top: -16px;
  left: 0;
  width: 100vw;
  padding: 0;

  .rhap_progress-container {
    margin: 0;
  }
}

.rhap_container {
  background-color: $color-black;
  box-shadow: none;
}

.rhap_download-progress {
  background-color: transparent;
}

.rhap_progress-indicator {
  opacity: 0;
  background-color: white;
  transition: opacity 0.3s ease;
  width: $indicator-size;
  height: $indicator-size;
  top: calc(50% - #{$indicator-half-size});
  left: 0;
}

.audio-player {
  .rhap_progress-container:hover {
    .rhap_progress-filled {
      background: #FFCC44 !important;
    }
  }

  .rhap_time,
  .rhap_additional-controls,
  .rhap_controls-section {
    color: #FFFFFF;
  }

  .rhap_progress-filled {
    background: #FFFFFF;
  }
}

.rhap_progress-container:hover {
  .rhap_progress-indicator {
    opacity: 1;
  }
}

.rhap_progress-indicator,
.rhap_progress-filled,
.rhap_controls-section,
.rhap_play-pause-button {
  color: #FFFFFF !important;
}

.rhap_controls-section {
  padding: 10px 0;
  width: fit-content;
  margin: auto;
}


@media (max-width: 580px) {
  .audio-player__title--desktop {
    display: none;
  }
  .volume-slider {
    display: none;
  }
}
