@use 'sass:math';
@import '../../globals/variables';

$indicator-size: 14px;
$indicator-half-size: math.div($indicator-size, 2);

:root {
  --indicator-size: #{$indicator-size};
  --indicator-half-size: #{$indicator-half-size};
}

.audio-player {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  transition: bottom 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-sizing: border-box;
  background-color: $color-black;
  padding: 0 20px;

  .icon-primary {
    color: $color-primary;
  }

  .rhap_current-time,
  .rhap_total-time {
    width: 40px;
  }

  .rhap_progress-container {
    position: relative;
  }

  .rhap_progress-section {
    padding: 28px 0;
  }

  .waveform {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }

  &__title {
    width: 100%;
  }

  &__settings {
    display: flex;
    padding-left: 20px;
  }

  &__icon-lyrics {
    margin-right: 20px;
  }

  &--mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 0 $safe-area-inset-bottom 0;

    .audio-player__title {
      padding-left: 20px;
    }

    .icon-button.play-pause {
      background-color: $color-black;
      padding: 0 20px;
      z-index: 1;
    }

    .rhap_container {
      background-color: transparent;
    }

    .rhap_progress-bar {
      border-radius: 0;
      height: 6px;
    }

    .rhap_controls-section,
    .rhap_current-time,
    .rhap_time {
      display: none;
    }
  }
}

.smooth-progress-bar--mobile {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100vw;
  padding: 0;

  .rhap_progress-container {
    margin: 0;
    z-index: 1000;

    .rhap_progress-indicator {
      opacity: 1;
    }
  }
}

.rhap_main {
  flex-direction: column-reverse;
}

.rhap_container {
  background-color: transparent;
  box-shadow: none;
}

.rhap_download-progress {
  background-color: transparent;
}

.rhap_progress-bar {
  z-index: 1;
}

.rhap_progress-indicator {
  opacity: 0;
  background-color: white;
  transition: opacity 0.3s ease;
  width: $indicator-size;
  height: $indicator-size;
  top: calc(50% - #{$indicator-half-size});
  margin-left: -8px;
}


.rhap_time,
.rhap_additional-controls,
.rhap_controls-section {
  color: #FFFFFF;
}

.rhap_progress-filled {
  background: #FFFFFF;
}

.rhap_progress-container {
  position: relative;

  &:hover {
    .rhap_progress-filled {
      background: #FFCC44 !important;
    }
  }

  .waveform {
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:hover .waveform {
    opacity: .4;
  }
}

.rhap_progress-container:hover {
  .rhap_progress-indicator {
    opacity: 1;
  }
}

.rhap_progress-indicator,
.rhap_progress-filled,
.rhap_controls-section,
.rhap_play-pause-button {
  color: #FFFFFF !important;
}

.rhap_controls-section {
  width: fit-content;
  margin: auto;
  padding: 8px;
}


@media (max-width: 580px) {
  .audio-player__title--desktop {
    display: none;
  }
  .volume-slider {
    display: none;
  }
}