@import '../../globals/variables';

.beat-edit-inputs {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: $color-white;

  &__form {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 20px;
  }
}

// Responsive adjustments
@media (max-width: 480px) {
  .beat-edit-inputs {
    &__form {
      gap: 16px;
    }
  }
} 