@import '../../globals/variables';

.beat-edit-inputs {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: $color-white;

  &__form {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 20px;
  }

  // Apply form-like styling to SelectableInput components
  .selectable-input__input-container {
    border: 1px solid $color-gray-mid;
    
    &:hover {
      transition: background-color 0.4s ease, box-shadow 0.4s ease;
      background-color: transparent;
      border: 1px solid $color-gray-mid;
    }
  }
}

// Responsive adjustments
@media (max-width: 480px) {
  .beat-edit-inputs {
    &__form {
      gap: 16px;
    }
  }
} 