.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container__content {
  display: flex;
  overflow: hidden;

  &__left {
    flex-shrink: 1;
  }

  &__middle {
    position: relative;
    flex-grow: 1;
    padding-bottom: 60px; 
    margin: 0 20px;
    overflow-y: auto;
  }

  &__right {
    flex-shrink: 1;

  }
}

.Toastify__progress-bar {
  background: #ffcc44;

  &--bg {
    background: #CC9900;
  }
}

.buffer {
  height: 180px;
}

.App--hidden {
  visibility: hidden;
}

.invisible-hover-panel{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10px;
  z-index: 100;
  opacity: 0;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}

.view-toggle-container {
  display: flex;
  &__title {
    position: relative;
    color: #828282;
    padding: 16px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &--active {
      color: white;
      &::after {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffcc44;
        width: 60%;
        height: 3px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
      &:hover::after, &:focus::after {
        opacity: 1;
      }
    }

    &:hover, &:focus {
      color: white;
      background-color: #202020;
      cursor: pointer;
    }
    &:active {
      background-color: #141414;
    }
  }
}