
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container__content {
  display: flex;
  overflow: hidden;

  &__left, &__right {
    padding: 1em 20px;
  }

  &__middle {
    padding: 1em 20px;
    overflow-y: auto;
  }
}

.Toastify__progress-bar {
  background: #ffcc44;

  &--bg {
    background: #CC9900;
  }
}

.buffer {
  height: 120px;
}