.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container__content {
  display: flex;
  overflow: hidden;

  &__left {
    flex-shrink: 1;
  }

  &__middle {
    position: relative;
    flex-grow: 1;
    padding-bottom: 60px; 
    margin: 0 20px;
    overflow-y: auto;
  }

  &__right {
    flex-shrink: 1;

  }
}

.Toastify__progress-bar {
  background: #ffcc44;

  &--bg {
    background: #CC9900;
  }
}

.buffer {
  height: 180px;
}

.App--hidden {
  visibility: hidden;
}

.invisible-hover-panel{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10px;
  z-index: 100;
  opacity: 0;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}