
.App {
    display: flex;
    flex-direction: column;
    height: 100vh; // Make App fill the viewport height
  }
  
  
  .container {
    overflow: hidden; // Prevent scrolling on the container
    display: flex;
    flex-direction: column;
  }
  
  .container__content {
    display: flex;
    overflow: hidden; // Prevent scrolling on the container content
  
    &__left, &__right {
      padding: 1em 20px;
    }
  
    &__middle {
      padding: 1em 20px;
      overflow-y: auto; // Enable scrolling for middle content
    }
  }