body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6, p, td, th, a, div {
  color: #FFFFFF;
  user-select: none;
}

button {
  color: #FFFFFF;
  cursor: pointer;
  user-select: none;
}

input {
  background-color: #202020;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 24px;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    .tooltip,
    .tooltip__addbeat {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tooltip,
.tooltip__addbeat {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  padding: 8px;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  background-color: #333;
  color: #fff;
  white-space: nowrap;
}

.selected {
  background-color: #FFCC44;
  color: #202020;
}

* {
  scrollbar-width: thin; 
  scrollbar-color: #505050 #202020;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #202020;
}

*::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #202020;
}