@import './globals/variables';
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-black;
  color: $color-white;
}

* {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6, p, td, th, a, div {
  color: $color-white;
  user-select: none;
}

body {
  background-color: $color-black-dark;
}

button {
  color: $color-white;
  cursor: pointer;
  user-select: none;
}

input {
  background-color: $color-gray-dark;
  color: $color-white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

td {
  padding: 0;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 24px;
  transition: transform 0.1s ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    .tooltip,
    .tooltip__addbeat {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tooltip {
  visibility: hidden;
  position: absolute;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  background-color: $color-black;
  color: $color-white;
  white-space: nowrap;
  z-index: 2;

  &--right {
    left: 100%;
    bottom: 50%;
    transform: translateY(50%);
    margin-left: 12px;
  }

  &--left {
    right: 100%;
    left: auto;
    bottom: 50%;
    transform: translateY(50%);
    margin-right: 12px;
  }
}

.selected {
  background-color: $color-yellow;
  color: $color-gray-dark;
}

* {
  scrollbar-width: thin; 
  scrollbar-color: $color-gray-mid $color-gray-dark;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: $color-gray-dark;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-gray-mid;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: $color-gray-dark;
}