body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, td, th, a, button, div {
  color: #FFFFFF;
  user-select: none;
}

button {
  cursor: pointer;
}

.selected {
  background-color: #FFCC44;
  color: #202020;
}

input {
  background-color: #202020;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border: none;
}