<h2 style="font-weight: 600;">Hi {{username}},</h2>
<p style="line-height: 1.8; font-weight: 300;">
  We received a request to reset your Lyrikal Empire password.<br>
  Use the code below to reset it:<br>
</p>
<div style="color: #FFCC44; background-color: #202020; padding: 20px; margin: 20px 0; border-radius: 4px; text-align: center;">
  <p style="font-size: 40px; font-weight: bold; margin: 0;">{{resetCode}}</p>
</div>
<p style="font-weight: 300; color: #828282;">
  Please note that this code will expire in 10 minutes.
</p>