@import '../../globals/variables';

.stat-card {
  padding: 20px;
  background: $color-gray-dark;
  border-radius: 8px;
  box-shadow: $box-shadow-card;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    transform: scale(1.02);
    box-shadow: $box-shadow-card-hover;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    color: $color-gray;
  }
  p {
    font-size: 24px;
    font-weight: bold;
  }
  &--large {
    @media (min-width: 768px) {
      grid-column: span 2;
    }
    @media (max-width: 767px) {
      grid-column: span 4;
    }
  }
  &--small {
    @media (min-width: 768px) {
      grid-column: span 1;
    }
    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }
}

.stat-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}