@import '../../globals/variables';

.stat-card {
    flex: 1 1 200px;
    margin: 10px;
    padding: 20px;
    background: $color-gray-dark;
    border-radius: 8px;
    box-shadow: $box-shadow-card;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: $box-shadow-card-hover;
    }
  
    h2 {
      margin-bottom: 10px;
      font-size: 18px;
      color: $color-white;
    }
  
    p {
      font-size: 24px;
      font-weight: bold;
      color: $color-yellow;
    }
  }