@import '../../globals/variables.scss';

.filter-dropdown {
  &-container {
    padding-bottom: 12px;
    padding-left: 16px;
    position: sticky;
    top: 60px;
    left: 0;
    z-index: 4;
    background-color: $color-black;
  }
  
  &__label-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    font-weight: 500;
    border: 1px solid $color-gray-mid;
    border-radius: 6px;
    transition: background-color 0.2s;
    cursor: pointer;
    
    &:hover {
      background-color: $color-gray-mid;
    }
    &--active {
      border: $border-gray-light-hover;
    }
  }

  &__label-text {
    white-space: nowrap;
  }

  &__option {
    display: flex;
    align-items: center;

    &-text-count {
      color: $color-gray-light;
      margin-left: 4px;
    }
  }

  input[type="checkbox"] {
    height: 20px;
    padding: 7px;
    margin: 4px;
    position: relative;
    display: flex;
    appearance: none;
    border: 1px solid $color-gray-mid;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s ease-in-out;
    &:checked {
      @include bg-border();
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 6px;
        width: 4px;
        height: 6px;
        border: solid $color-white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    &:not(:checked) {
      background-color: $color-gray-dark;
    }
  }
  &__option-text {
    padding-left: 4px;
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    max-width: 280px;
    min-width: 200px;
    max-height: 400px;
    margin: 8px 0;
    border-radius: 6px;
    background-color: $color-gray-dark;
    box-shadow: $box-shadow;
  }

  &__list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid $color-gray-mid;
    background-color: $color-gray-dark;
  }

  &__selected {
    display: flex;
    flex-wrap: wrap;

    &-item {
      display: flex;
      gap: 4px;
      padding: 4px 8px;
      margin: 8px 0;
      border-radius: 4px;
      @include bg-border-hover();

      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }
  }
}

.filter-dropdowns-container {
  display: flex;
  gap: 8px;
  overflow: auto;
  @include hide-scrollbar;
}

.hidden-filter {
  display: none;
}