@import '../../globals/variables';

.form-textarea {
    position: relative;

    &__input {
        overflow: hidden;
        resize: none;
        max-width: none;
        border: none;
        padding: 0;

        &:hover,
        &:focus {
            border: none;
            box-shadow: none !important;

        }
    }

    &__remaining-chars {
        position: absolute;
        bottom: 12px;
        right: 12px;
        font-size: 14px;
        color: $color-gray;
    }
}