@import '../../globals/variables';

.select-wrapper {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;

    &:hover {
        border: $border-gray-light-hover;
        background-color: $color-gray-dark-hover;
    }

    &__selected {
        padding: 12px;
        border-radius: 4px;
        background-color: $color-black;
        border: 1px solid $color-gray-mid;
    }

    &__options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        background-color: $color-gray-dark; 
        border-radius: 4px;
        z-index: 10;
    }

    &__option {
        padding: 10px;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #444;
        }
    }
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
  
    .select-wrapper {
      position: relative;
      display: inline-block;
  
      select, input {
        appearance: none;
        outline: none;
        box-shadow: none;
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        background-color: transparent;
        color: $color-white;
  
        &:hover {
          cursor: pointer;
        }
      }
  
      select {
        padding: 12px;
        padding-right: 30px;
      }
    }
  }