@import '../../globals/variables';

.selectable-input {
    position: relative;

    &__input-container {
        display: flex;
        border-radius: 4px;
        cursor: pointer;

        &--focused {
            background-color: $color-gray-dark;
            box-shadow: 0 0 0 1px $color-gray;
        }
    }

    &__selected-list {
        display: flex;

        &__item {
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding-left: 8px;
            margin: 4px;

            &--focused {
                background-color: $color-gray-dark-active;
            }
            &__icon {
                margin: 0 8px;
            }
        }
    }
    
    &__input {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:focus {
          outline: none;
          cursor: text;
        }
    }

    &__list {
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        z-index: 3; 
        max-height: 400px;
        overflow-y: auto;
        box-shadow: $box-shadow;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 1px;
        border-radius: 4px;

        &-item {
            padding: 12px;
            text-align: left;
            background-color: $color-gray-dark; 
    
            &:hover {
                background-color: $color-gray-dark-hover;
                cursor: pointer;
            }
    
            &--selected {
                background-color: $color-gray-mid;
            }
    
            &--focused {
                background-color: $color-gray-dark-hover;
                box-shadow: 0 0 0 1px $color-gray;
                transform: scale(1.02);
            }
        }
    }
}