@import '../../globals/variables';
.warning {
    color: $color-white;
    background-color: $color-warning-background;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;

    &__icon {
        margin-right: 12px;
    }
    &__text {
        margin: 0;
    }
}