@import '../../globals/variables';

.context-menu {
    min-width: 180px;
    padding: 6px;
    position: fixed;
    z-index: 5;
    background-color: $color-gray-dark;
    border-radius: 4px;


    &__button {
        display: flex;
        align-items: center;
        padding: 0 24px 0 12px;
        border-radius: 4px;
        transition: background-color 0.2s;
        cursor: pointer;

        &:hover {
            background-color: $color-gray-dark-hover;
        }
    }

    &__subitem-icon {
        position: absolute;
        right: 6px;

        &:hover {
            color: $color-gray-light;
            transform: scale(1);
        }
    }

    &__icon {
        color: $color-gray-light;
        padding-right: 12px;
    }

    &__nested-list {
        position: absolute;
        right: -124px;
        padding: 6px;
        border-radius: 4px;
        background-color: $color-gray-dark;

        &-item {
            color: $color-white;
            text-align: left;
            padding: 12px 12px;
            border-radius: 4px;
            transition: background-color 0.2s;
            cursor: pointer;

            &:hover {
                background-color: $color-gray-dark-hover;
            }
        }
    }

    &__nested-list--left {
        right: auto;
        left: -122px;
    }
}

.context-menu--mobile {
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-gray-dark;
    padding-bottom: $safe-area-inset-bottom;
    border-radius: 20px 20px 0 0;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        height: 4px;
        width: 40px;
        transform: translateX(-50%);
        border-radius: 10px;
        background-color: $color-gray-mid;
        top: 0;
        margin-top: 10px;
    }

    .context-menu__header {
        text-align: left;
        padding: 8px 16px;
        border-bottom: $border-bottom;
    }

    .context-menu__button {
        padding: 0 16px;
        border-radius: 0;

        &:hover {
            background-color: transparent;
        }

        &:active {
            background-color: $color-black;
        }
    }
}

.context-menu-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 3;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.context-menu--mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.context-menu--mobile.active {
    animation: slideIn 0.3s forwards;
}

.context-menu--mobile.inactive {
    animation: slideOut 0.3s forwards;
}