@import '../globals/variables';

.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
  
.auth-container h2 {
    margin-bottom: 20px;
}

.auth-container .form-group {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.auth-button {
    margin-top: 32px;
}

.link-container {
    display: flex;
    align-items: flex-start;
}

.auth-link {
    font-size: 14px;

}

.link {
    font-size: 14px;
    color: $color-primary;
    margin-left: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $color-yellow-dark;
    }
}