.profile {
    &-label {
        margin-bottom: 8px !important;
        font-weight: 700;
    }
    &-buttons {  
        margin-top: 20px;
        &-editing {
            display: flex;
            margin-left: 8px;
            > *:nth-child(2) {
                margin-left: 20px;
            }
        }
    }

    &-logout {
        margin-top: 40px;
    }
}