.queue {
    &__subtitle {
        position: sticky;
        top: 0;
        background-color: #181818;
        z-index: 2; 
        margin: 0;
        padding: 16px;
        padding-top: 8px;

        &:before { // Use :before for the top gradient
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -10px; // Position at the top
            height: 20px; // Height of the gradient effect
            background: linear-gradient(to bottom, rgba(24, 24, 24, 0), #181818); // Adjusted gradient direction
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -4px;
            height: 20px; // Height of the gradient effect
            background: linear-gradient(to top, rgba(24, 24, 24, 0), #181818);
            z-index: 1;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        &-item {
            padding: 16px;
            border-radius: 4px;
            &--playing {
                color: #FFCC44;
            }
            &:hover {
                background-color: #202020;
                cursor: pointer;
            }
        }
    }
}
