@import '../../globals/variables';
.queue {
    &__subtitle {
        position: sticky;
        top: 0;
        background-color: $color-black;
        z-index: 2; 
        margin: 0;
        padding: 16px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -10px;
            height: 20px;
            background: linear-gradient(to bottom, rgba(24, 24, 24, 0), $color-black); 
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -4px;
            height: 20px;
            background: linear-gradient(to top, rgba(24, 24, 24, 0), $color-black);
            z-index: 1;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        &-item {
            padding: 16px;
            border-radius: 4px;
            &--playing {
                color: $color-yellow;
            }
            &:hover {
                background-color: $color-gray-dark;
                cursor: pointer;
            }
        }
    }

    &__section {
        padding-bottom: 20px;
    }
}
