.queue {
    &__title {
        margin-top: 0;
    }
    &__subtitle {
        margin-bottom: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        &-item {
            padding: 16px 10px;
            border-radius: 4px;
            &--playing {
                color: #FFCC44;
            }
            &:hover {
                background-color: #202020;
            }
        }
    }
}
