.highlight {
    position: relative;
    &-content {
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        pointer-events: none;
        white-space: pre-wrap;
        margin: 10px;
        z-index: 1;
    }
}