.modal__button {
    background-color: #202020;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer !important;
    transition: all 0.2s ease;

    &:hover {
        background-color: #1a1a1a;
    }

    &--delete {
        background-color: #CC3344;

        &:hover {
            background-color: #A02230;
        }
    }

    &--close {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        background-color: #181818;
        border: none;
    }
}

.modal-content {
    max-width: 400px;
    min-width: 400px;
    background-color: #181818;
    border-radius: 6px;
    padding: 20px;
    pointer-events: auto;
}


.ReactModal__Content {
    pointer-events: none;
}

.react-draggable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}