@import '../../globals/variables';

.stat-chart {
    margin: 20px 0;
    .select-wrapper {
        max-width: 200px;
        margin-bottom: 20px;
        color: $color-gray-light;


        select {
            color: $color-gray-light !important;
        }
    }
}