@import '../../../globals/variables';

.icon-button--repeat {
    position: relative;
    margin: 0 24px;
    &:active {
      transform: scale(1);
    }
  
    &.active {
        color: $color-yellow;
        &:hover {
            color: $color-yellow-light;
        }
    }
    
    .tooltip {
        bottom: 180%;
    }
}
  
.repeat-one-indicator {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background-color: #FFCC44;
    border-radius: 50%;
}