@import '../../globals/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  margin-bottom: $safe-area-inset-bottom;
  width: 100%;
  background-color: $color-black;
  border-radius: 4px;

  &__nav-group {
    display: flex;
    justify-content: center;
    width: 100%;

    & a {
        text-decoration: none;
    }

    &-dashboard {
      position: absolute;
      right: 80px;
    }
  }

  &__nav-logo {
    width: 30px;
  }
    
  & svg {
      width: 20px;
      height: 20px;
  }

}