@import '../../globals/variables';

.button {
    background-color: $color-gray-dark;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 100%;


    &--primary {
        @include bg-border-hover();
    }

    &--warning {
        @include bg-border-hover-warning();
    }

    &--small {
        padding: 8px 12px;
    }

    &--medium {
        padding: 12px 24px;
    }

    &--large {
        padding: 16px 32px;
    }
    &--full-width {
        width: 100%;
    }

    &--transparent {
        background-color: transparent;
        color: $color-white;
        padding: 0;
        margin: 8px 12px;
        
        &:hover {
            background-color: transparent;
        }
    }
}