@import '../../globals/variables';

.beat-list {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
  }

  &__action-button {

    &:active {
      transform: scale(1);
    }
  
  }

  &__table {
    table-layout: auto;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    overflow: visible;
    width: max-content;
    border: none;
    border-collapse: collapse;
  }
}

.resizable-header {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    background-color: transparent;
  }

  &::after {
    border-right: 1px solid transparent;
  }

  &.near-border::after {
    border-right: 4px solid #505050;
  }

  &::before {
    opacity: 0;
  }
}

.resizable-header.dragging::after {
  border-right: 4px solid #CCC;
}

.beat-list__table-head:hover {
  background-color: #202020;
}

.beat-list__warning {
  text-align: center;
}

.beat-list__search-container {
  position: relative;
  width: max-content;
}

.beat-list__search-input {
  width: 0;
  padding-left: 40px;
  visibility: hidden;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.2s, visibility 0.2s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $color-gray;
  }
}

.beat-list__search-input.visible {
  width: 200px;
  visibility: visible;
  opacity: 1;
  margin-right: 16px;
}

.beat-list__actions {
  display: flex;
  align-items: center;
}

.beat-list__action-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
}

.beat-list__search-input.visible + .tooltip {
  visibility: visible;
}

.beat-list__action-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 1;

  &--active {
    color: $color-yellow;
    &:hover {
      color: $color-yellow-light;
    }
  }

  &:hover {
    transform: scale(1.04) translateY(-50%);
  }
}

