.beat-row__input {
  background-color: transparent;
  border: none;

  &:focus {
    background-color: #202020; // change this to your preferred color
    outline: none;
  }

  &--bpm {
    text-align: right;
  }
}