.beat-row {
  margin: 6px 0;
  &:hover {
    background-color: #202020;
  }
  &__input {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
    &:focus {
      background-color: #202020;
      outline: none;
      box-shadow: 0 0 0 1px #ccc;
      cursor: text;
    }
    &--bpm {
      text-align: right;
    }
  }
  &__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 18px;
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      .beat-row__tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__number {
    padding: 8px;
    text-align: center;
  }
  &__button-cell {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__selected {
    color: #FFCC44;
  }
  &__data {
    padding: 8px;
    color: #FFFFFF;
  }
  &__delete {
  }
  &__tooltip {
    visibility: hidden;
    opacity: 0;
  }
}