.resizable-header {
  position: relative;
  cursor: col-resize; // Add this line
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    background-color: transparent;
    transition: background-color 0.3s;
    opacity: 0;
  }
}