:root {
  --border-radius: 5px;
}

.beat-row {
  margin: 6px 0;
  &:hover {
    background-color: #202020;
  }

  &.playing {
    background-color: #f0f0f0;
  }

  td {
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

.resizable-header {
  position: relative;
  cursor: col-resize; // Add this line
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    background-color: transparent;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    background-color: transparent;
    transition: background-color 0.3s;
    opacity: 0;
  }
}

.beat-number {
  text-align: center;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 18px;

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 16px;
  }
}