@import '../../globals/variables';

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    
    .icon-button,
    &__link {
        flex: 1;
        text-align: center;
        margin: 0 4px;
        max-width: 40px;
        min-width: 40px;
    }
    &__text {
        margin: 0 16px;
    }
    &__link {
        color: $color-gray-light;
        &:hover {
          color: $color-white;
          cursor: pointer;
          transform: scale(1.04);
        }
        &.active {
          color: $color-white;
            font-weight: bold;
        }
    }
}