@import '../../globals/variables';

.pagination-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-bottom { 
    margin-top: 30px;

    &__link {
      color: $color-gray-light;
      &:hover {
        color: $color-white;
        cursor: pointer;
        transform: scale(1.04);
      }

      &--ghost {
        color: transparent;
        pointer-events: none;
        &:hover {
          color: transparent;
        }
      }
    }
  }
    
    .icon-button,
    &__link {
        flex: 1;
        text-align: center;
        max-width: 40px;
        min-width: 40px;
    }

    &__link {
        color: $color-gray-light;
        &:hover {
          color: $color-white;
          cursor: pointer;
          transform: scale(1.04);
        }
        &.active {
          color: $color-white;
          font-weight: bold;
        }

        &.highlight {
          color: $color-yellow;
        }
    }
    &__ellipsis {
        width: 40px;
        text-align: center;
    }

    &__placeholder {
        width: 80px;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .pagination-controls__ellipsis,
    .pagination-controls__placeholder {
      display: none;
    }
}