@import '../../globals/variables';

.pagination-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-bottom { 
    margin-top: 16px;

    &__link {
      color: $color-gray-default;
      &:hover {
        color: $color-gray-light;
        cursor: pointer;
        transform: scale(1.04);
      }

      &--ghost {
        color: transparent;
        pointer-events: none;
        &:hover {
          color: transparent;
        }
      }
    }
  }
    
    .icon-button,
    &__link {
        flex: 1;
        text-align: center;
        max-width: 40px;
        min-width: 40px;
        transition: all 0.2s ease-in-out;
    }

    &__link {
        color: $color-gray-default;
        &:hover {
          color:$color-gray;
          font-weight: 500;
          cursor: pointer;
        }
        &:active, &:focus {
          color: $color-gray-dark-active;
          font-weight: bold;
        }

        &.active {
          color: $color-white;
          font-weight: bold;
          transform: scale(1.2);
        }

        &.highlight {
          color: $color-yellow;
        }
    }
    &__ellipsis {
        width: 40px;
        text-align: center;
    }

    &__placeholder {
        width: 80px;
        text-align: center;
    }
}
  
.indicator {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background-color: #FFCC44;
  border-radius: 50%;
}

@media (max-width: 700px) {
    .pagination-controls__ellipsis,
    .pagination-controls__placeholder {
      display: none;
    }
}