.table-header {
    position: sticky;
    top: 0;
    background-color: #181818;
    color: #FFFFFF;
    text-align: left;
    z-index: 2;
    transition: all 0.2s ease-in-out;
  
    &__cell {
      box-sizing: border-box;
      padding: 10px;
      padding-left: 18px;
      color: #FFFFFF;
      min-width: 60px;
  
      &--first {
        text-align: center;
        width: 50px;
      }

      &:hover {
        background-color: #202020;
      }
    }
}