.table-header {
    position: sticky;
    top: 70px;
    background-color: #181818;
    color: #FFFFFF;
    text-align: left;
    z-index: 2;
  
    &__cell {
      box-sizing: border-box;
      padding: 10px;
      padding-left: 18px;
      color: #FFFFFF;
      min-width: 60px;
      border-radius: 8px 0 0 0;
      transition: background-color .3s ease-in-out;

      &.no-transition {
          transition: none;
      }
  
      &--first {
        text-align: center;
        width: 50px;
      }

      &:hover {
        background-color: #202020;
      }
    }
}