@import '../../globals/variables';

.panel-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 20px;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--mobile {
    margin: 12px;
  }

  .icon-button {
    padding: 6px;
    z-index: 10;

    &:hover {
      transform: scale(1);
    }

    &--mobile {
      &:hover {
        background-color: transparent;
      }
    }
  }
}