@import '../../globals/variables';

.icon-button--addbeat {
    position: absolute; 
    bottom: 0; 
    right: 0;
    background-color: $color-gray-mid;
    color: $color-white !important;
    border: none;
    border-radius: 50%;
    margin: 16px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 3;
}