@import '../../globals/variables';

.form__title {
    margin: 0;
    margin-bottom: 1em;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.modal-content {
    max-width: 400px;
    min-width: 400px;
    background-color: $color-black;
    border-radius: 6px;
    padding: 20px;
    pointer-events: auto;
}

.modal__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.ReactModal__Content {
    pointer-events: none;
}

.react-draggable {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}