.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 20px 0;
  width: 100%;
  background-color: #181818;

  &__nav-group {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__nav-logo {
    width: 30px;
  }

  &__nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    font-size: 24px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #202020;
    }
  }
}