.header {
  display: flex;
  justify-content: center; // Center the content
  position: relative; // Needed for absolute positioning of the menu icon
  padding: 20px 0;
  width: 100%;

  &__nav-group {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__nav-logo {
    width: 30px;
  }

  &__nav-menu {
    position: absolute;
    left: 0; // Position the menu icon on the left
    font-size: 24px; // Adjust icon size as needed
  }
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

  &__nav-menu {
    position: absolute;
    left: 0;
    font-size: 24px;
    cursor: pointer;
  }

  &__nav-group {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__nav-logo {
    width: 30px;
  }
}