.dialog-button {
    background-color: #202020;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}
  
.dialog-button:hover {
    opacity: 0.7;
}

.dialog .ReactModal__Content {
    height: 14%;
  
    @media (max-width: 427px) {
      height: 15%;
    }
  }