.track-row:hover {
    background-color: #f5f5f5;
  }

  .track-row.playing {
    background-color: #f0f0f0;
  }

  .track-number {
    width: 30px; /* Adjust this value to your liking */
    text-align: center;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px; /* Adjust this value to your liking */
}

@keyframes barAnimation {
  0% { transform: scaleY(0.2); }
  15% { transform: scaleY(0.8); }
  30% { transform: scaleY(0.4); }
  45% { transform: scaleY(1); }
  60% { transform: scaleY(0.6); }
  75% { transform: scaleY(0.9); }
  90% { transform: scaleY(0.5); }
  100% { transform: scaleY(0.2); }
}
  
.bar {
  width: 4px;
  height: 20px; /* Set this to the maximum height of the bars */
  background-color: #FFCC44;
  margin: 0 1px;
  display: inline-block;
  animation: barAnimation 1.8s infinite; /* Adjust this value to make the animation slower or faster */
  transform-origin: center;
}
  
  .bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .bar:nth-child(4) {
    animation-delay: 0.3s;
  }