@import '../../globals/variables';

.lyrics-modal {
  outline: none;

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &--mobile {
      height: calc(100vh - 127px);

      & .modal-content {
        min-width: 0;
      }
    }
  }

  .modal-content {
    border: 1px solid $color-gray-mid;
    max-width: none !important; 
    resize: both;
    overflow: hidden;
    padding: 0 !important;
    box-shadow: $box-shadow;
    height: 100%;
    width: 100%;
    border: none;
  }

  .modal__title {
    margin: 0;
    padding: 20px;
    cursor: default;
  }

  .modal__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .form-group {
    height: calc(100% - 48px);
    margin: 0;
    padding: 0 20px;

    &__input {
        padding: 0 !important;
        height: 100%;
        overflow: auto;
        border: none;

        &:hover,
        &:focus {
            border: none;
            box-shadow: none !important;

        }
    }
  }

  .form-textarea__input {
      &:hover {
          border: none !important;
      }
  }
}