@import '../../globals/variables';

.lyrics-modal {
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .modal-content {
    border: 1px solid $color-gray-mid;
    max-width: none !important; 
    resize: both;
    overflow: hidden;
    min-height: 200px;
    padding-bottom: 0 !important;
    box-shadow: $box-shadow;
  }

  .modal__title {
    margin-top: 0;
    cursor: default;
  }

  .modal__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .form-group {
    height: calc(100% - 48px);
    margin: 0;

    &__input {
        padding: 0 !important;
        height: 100%;
        min-height: 150px;
        overflow: auto;
        border: none;

        &:hover,
        &:focus {
            border: none;
            box-shadow: none !important;

        }
    }
  }
}