$color-yellow: #FFCC44;
$color-yellow-light: #FFE066;
$color-yellow-dark: #CC9900;
$color-black-dark: #141414;
$color-black: #181818;
$color-gray-dark: #202020;
$color-gray-dark-hover: #383838;
$color-gray-mid: #505050;
$color-gray-default: #828282;
$color-gray-light: #B3B3B3;
$color-gray: #CCC;
$color-white: #FFFFFF;

$color-warning: #FF5733;
$color-warning-dark: #CC4600;
$color-success: #4CAF50;
$color-success-dark: #388E3C;

$safe-area-inset-bottom: 36px;

$overlay: rgba($color-black-dark, 0.5);
$border-bottom: .5px solid $color-gray-mid;