$color-yellow: #FFCC44;
$color-primary: $color-yellow;

$color-primary-background: rgba($color-yellow, 0.2);
$color-primary-background-hover: rgba($color-yellow, 0.1);

$color-primary-border: rgba($color-yellow, 0.8);
$color-primary-border-hover: rgba($color-yellow, 0.4);


$color-dark-yellow: rgba($color-yellow, 0.2);
$color-dark-yellow-hover: rgba($color-yellow, 0.1);

$color-yellow-light: #FFE066;
$color-yellow-dark: #CC9900;
$color-black-dark: #141414;
$color-black: #181818;
$color-gray-dark: #202020;
$color-gray-dark-active: #2C2C2C;
$color-gray-dark-hover: #383838;
$color-gray-mid: #505050;
$color-gray-default: #828282;
$color-gray-light: #B3B3B3;
$color-gray: #CCC;
$color-white: #FFFFFF;

$color-warning-background: #CC3344;
$color-warning: #CC3344;
$color-warning-dark: #A02230;

$safe-area-inset-bottom: 36px;

$overlay: rgba($color-black-dark, 0.5);

$border-bottom: .5px solid $color-gray-mid;
$border-bottom-dark: .5px solid $color-gray-dark-hover;
$border-primary: 1px solid $color-primary-border;
$border-primary-hover: 1px solid $color-primary-border-hover;

$box-shadow: 0 0 24px 12px rgba(0, 0, 0, .1);
$box-shadow-card: 0 0 24px 12px rgba(0, 0, 0, .02);
$box-shadow-card-hover: 0 0 40px 12px rgba(0, 0, 0, .001);
$box-shadow-hover: 0 0 0 .5px $color-gray-default;
$box-shadow-focus: 0 0 0 2px $color-gray;

@mixin hide-scrollbar {
    &::-webkit-scrollbar {
        display: none; 
    }
    scrollbar-width: none;
}

@mixin background-border (
    $text-color: $color-white,
    $bg-color: $color-dark-yellow,
    $border: $border-primary,
) {
    color: $text-color;
    background-color: $bg-color;
    border: $border;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

}

@mixin background-border-hover (
    $text-color: $color-white,
    $bg-color: $color-dark-yellow,
    $border: $border-primary,
    $hover-bg-color: $color-dark-yellow-hover,
    $hover-border: $border-primary-hover
) {
    color: $text-color;
    background-color: $bg-color;
    border: $border;
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

    &:hover {
        background-color: $hover-bg-color;
        border: $hover-border;
        cursor: pointer;
    }

    &:focus, &:active {
        border: 1px solid transparent;
    }
}