@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .side-panel {
    position: fixed;
    top: 7vh;
    left: 0;
    width: 300px;
    height: 75vh;
    background-color: #202020;
    z-index: 3;
    transition: transform 0.2s ease-in-out;
    padding: 1em;
  }
  
  .side-panel--visible {
    animation: slideIn 0.2s forwards;
  }
  
  .side-panel--hidden {
    animation: slideOut 0.2s forwards;
  }
  
  .side-panel--content {
    position: relative;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    animation: slideInContent 0.3s forwards;
  }