.left-side-panel, .right-side-panel {
  width: 300px;
  background-color: #202020;
  transition: transform 0.2s ease-in-out;
  padding: 1em;
  border-radius: 4px;
}

.left-side-panel {
  &--hover {
    position: fixed;
    height: 80%;
    top: 7vh;
    left: 0;
    z-index: 3;
  }
  &--pinned {
    height: 94%;
  }
  &--visible {
    animation: slideInLeft 0.2s forwards;
  }
  &--hidden {
    animation: slideOutLeft 0.2s forwards;
  }
}

.right-side-panel {
  &--hover {
    position: fixed;
    height: 80%;
    top: 7vh;
    right: 0;
    z-index: 3;
  }
  &--pinned {
    height: 94%;
  }
  &--visible {
    animation: slideInRight 0.2s forwards;
  }
  &--hidden {
    animation: slideOutRight 0.2s forwards;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}