.left-side-panel, .right-side-panel {
  width: 300px;
  height: 77vh;
  background-color: #181818;
  transition: transform 0.2s ease-in-out;
  padding: 1em;
  border-radius: 4px;
  overflow-y: auto;
  position: fixed;
  top: 74px;
  z-index: 3;

  &--hover {
    &.left-side-panel { left: 0; }
    &.right-side-panel { right: 0; }
  }

  &--visible {
    animation: slideIn 0.4s forwards;
  }

  &--hidden {
    animation: slideOut 0.4s forwards;
  }
}

@keyframes slideIn {
  from { transform: translateX(var(--start)); }
  to { transform: translateX(0); }
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(var(--end)); }
}

.left-side-panel {
  --start: -100%;
  --end: -100%;
}

.right-side-panel {
  --start: 100%;
  --end: 100%;
}